{%extends "main.html"%}
{%block content%}
	<a class = 'logout_chat_button' href = '{%url "chat:logout"%}'>Выйти</a>
	<a class = 'change_room_button' href = '{%url "chat:rooms_list"%}'>Список комнат</a>
	<div class = 'new_letter'>
		<form method = 'POST'>
			{%csrf_token%}
			{{form.as_p}}
			<input type = submit value = Отправить>
		</form>
	</div>
	<div class = 'div_chat'>
		{%for i in letter%}
		<div class = 'div_chat_letter'>
			<p>{{i.author}}:<p>
			<p>{{i.text}}</p>
			<p>{{i.date}}</p><br>
		</div>
		{%endfor%}
	</div>
{%endblock%}